.mainblock {
    position :absolute;
   top : 0;
   bottom : 0;
   left: 0;
   right : 0;
   margin : auto;

   text-align : center;
   height: 200px;
   line-height: 185px;
   font-size: 30px;
   font-weight: bold;
   color: white;
   background-color: rgb(28,103,241);
}